<html>

<head>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <center>
        
        <form action="/login" method="post" class="center">
            <h1>Login</h1>
            <label for="email">email:</label>
            <input type="text" name="email"></input></br></br>
            <label for="password">password:</label>
            <input type="text" name="password"></input></br></br>
            <button name="login" placeholder="login">login</button></br>
            </br>
            <a href="signup">new user create account</a>
        </form>
    </center>
</body>

</html>