<html>

<head>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <center>
        <form action="/signup" method="post" enctype="multipart/form-data" class="center">
            <h1>Signup</h1>
            <label for="name">name:</label>
            <input type="text" name="name" required></input></br></br>
            <label for="email">email:</label>
            <input type="text" name="email" required></input></br></br>
            <label for="password">create password</label>
            <input type="text" name="password" required></input></br></br>
            <label for="cpassword">re enter password</label>
            <input type="text" name="cpassword" required></input></br></br>
            <label for="image">upload</label>
            <input type="file" name="image"><br></br>
            <button name="login" placeholder="login" >create account</button></br></br>
        </form>
    </center>
</body>

</html>